const fs = require('fs');

const directory = fs.readdirSync(".", { withFileTypes: true }) //This may be a file or a folder
const folderNames = []
for (const file of directory) if (file.isDirectory() && /ririchiyo-(dev|main)-build-\d+/.test(file.name)) folderNames.push(file.name);

const folder = folderNames
    .filter(n => !Number.isNaN(n.split("-")[3]))
    .sort((a, b) => parseInt(b.split("-")[3]) - parseInt(a.split("-")[3]))[0];

const splitName = folder.split("-");

module.exports = {
    apps: [{
        name: `Ririchiyo-${splitName[1]} #${splitName[3]}`,
        script: `${folder}/src/main/index.js`,
        error_file: `${folder}/err.log`,
        out_file: `${folder}out.log`,
        log_file: `${folder}logs.log`,
        interpreter: "node",
        log_date_format: "DD-MM-YYYY hh:mma Z",
        exec_interpreter: "node",
        exec_mode: "fork",
        env: {
            NODE_ENV: "development",
            DISCORD_TOKEN: "",
            MONGODB_URI: "",
            YOUTUBE_API_KEY: "",
            SPOTIFY_CLIENT_ID: "",
            SPOTIFY_CLIENT_SECRET: "",
            KSOFT_API_TOKEN: ""
        }
    }]
}
